
<h1>Welcome, to Ordserve v<%= Ordinals::Module::Ordserve::VERSION %>!</h1>

<p>
Settings
</p>

<ul>
  <li>public_folder: <%= settings.public_folder %></li>
  <li>content_folder: <%= settings.content_folder %></li>
</ul>

<p>
(Recursive) Built-in Samples

Punks
</p>

<ul>
  <li><a href="samples/punk1.svg">samples/punk1.svg</a> -  alien with bandana</li>
  <li><a href="samples/punk1a.svg">samples/punk1a.svg</a> -  alien with cap forward</li>
  <li><a href="samples/punk1b.svg">samples/punk1b.svg</a> -  alien with cap forward and laser eyes</li>
  <li><a href="samples/punk1c.svg">samples/punk1c.svg</a> -  alien with cap forward and laser eyes and pipe</li>
  <li><a href="samples/punk1d.svg">samples/punk1d.svg</a> -  alien with cap forward and laser eyes and pipe on bitcoin pattern</li>
</ul>

<ul>
  <li><a href="samples/punk2.svg">samples/punk2.svg</a> -  red martian (alien vol. 2) with bandana</li>
  <li><a href="samples/punk2a.svg">samples/punk2a.svg</a> -  red martian (alien vol. 2) with bandana on bitcoin pattern</li>
  <li><a href="samples/punk2b.svg">samples/punk2b.svg</a> -  red martian (alien vol. 2) with bandana and laser eyes (golden) on bitcoin pattern</li>
  <li><a href="samples/punk2c.svg">samples/punk2c.svg</a> -  red martian (alien vol. 2) with cap forward and laser eyes (golden) on bitcoin pattern</li>
</ul>
